* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    --color-etiquetas: hsl(139, 90%, 72%);
    --border-radius: 10px;
}
li {
    list-style: none;
}

body {
    background-color: rgb(234, 234, 234);
    /* position: relative; */
    height: 100vh;
    /* border: 1px solid blue; */
    display: grid;
    /* justify-content: center; */
    align-items: center;
    /* gap: 5px; */
    grid-template-columns: 1;
    grid-template-rows: minmax(100px , 1fr);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}







/* Info general */
.infoGral {
    /* border: 1px solid red; */
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 10px; */

    
}
.infoGral> * {
    /* border: 1px solid; */
    border-radius: var(--border-radius);
    padding: 20px 15px;
    margin: 0 15px;
    background-color: var(--color-etiquetas);
}
.infoGral>:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid red; */
}
.infoGral>:nth-child(1)>* {
    /* border: 1px solid black; */
    margin: 0 5%;
    /* width: 30%; */
    /* border: 1px solid red; */

}




/* Ingreso de gastos */
.introGastos {
    height: 100%;
    background-color: var(--color-etiquetas);
    /* background-color: transparent; */
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    /* border: 1px solid; */

}
.introGastos :nth-child(1n) {
    margin: 5px;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 100;
    padding: 15px;
    border-radius: var(--border-radius);
    border-color: transparent;
}
.introGastos :nth-child(1n):focus{
    outline: none;
    background-color: rgb(178, 224, 223);
}
.introGastos :nth-child(4) {
    display: flex;
    justify-content: space-between;
}

/* los gastos */
.dialogGastos {
    position: absolute;
    border: none;
    height: 100vh;
    width: 100vw;
    background-color: hsla(0, 0%, 0%, 0.682);
}
.dialogGastos>div {
    display: grid;
    grid-template-columns: repeat(1 , minmax(50px , 1fr));
    gap: 5px;
    align-items: center;
    /* border: none; */
    /* border: 5px solid black; */
    height: 30vh;
    width: 80vw;
    margin: auto;
    margin-top: 45vh;
    background-color: transparent;
    /* padding: 20px; */
}

.dialogGastos>div>* {
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 90%; */
    padding: 20px;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: rgb(100, 196, 164);
}
.dialogGastos>div>div>input {
    background-color: rgb(226, 220, 220);
    padding: 20px;
}


.btnCloseDialog {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    background: rgb(149, 41, 41);
    font-size: 2rem;
}

/* detalle gastos */
.detallesGasto {
    overflow:scroll;
    height: 100vh;
    position: absolute;
    left: 0;
    /* border: 1px solid red; */
    background-color: hsl(112, 75%, 76%);
    /* width: 50vw; */

}
.detallesGasto::-webkit-scrollbar {
    display: none;
}
/* RESOLVER #Lista Detalles Gasto son estilos a analizar para el problema*/
.detallesGasto>* {
    text-align: center;
    font-size: 1.2em;
    position: relative;
    width: 50vw;
    /* bottom: 0; */
    display: none;
    /* margin-left: -50vw; */

}
/* estos ya son estilos nomas */
.detallesGasto>*>*{
    font-size: 1rem;
    margin-bottom: 5px;
    /* font-size: 1.1rem; */
    padding: 2px 0;
    min-width: 30vw;
    width: 50vw;

}
.detallesGasto>*>*:nth-child(2n+1) {
    background-color: hsl(112, 75%, 85%);
}


/* botones */
[class^="btn"] , [id^="btn"] {
    border: none;
    border-radius: var(--border-radius);
}