*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
}
.content {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    user-select: none;
    cursor: default;
    position: absolute;
    background-color: hsl(300, 50%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.vaca {
    z-index: 1;
    text-align: center;
    opacity: 1;
    transition: .3s;
}

.content:hover .vaca {
    opacity: 0;
    transition: .3s;
}
.content .dia {
    z-index: 1;
    font-size: 1.9rem;
    position: absolute;
    opacity: 0;
    transition: .3s;
}

.content:hover .dia {
    opacity: 1;
    transition: .3s;
}

.barra {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsla(300, 50%, 30%,1);
    width: 0%;
    height: 100%;
    transition: 1s;
}
.barra p {
    color: hsla(0, 0%, 50%,.5);
    overflow: hidden;
    font-size: .8rem;
}
